.button{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}




.ok-first{
    background-color: black;
    color: white;
}

.ok-second{
    background-color: yellow;

}
